extends ./layout

block content
    .row
        form.form-horizontal(method="post", action="/admin/save_episodes")
            input(type="hidden", name="episodes[movieID]", value=id)
            .form-group
                label.col-sm-2.control-label(for="inputTitle") Tên tập
                .col-sm-10
                    input#inputTitle.form-control(type="text", name="episodes[name]", value="")            
            .form-group
                label.col-sm-2.control-label(for="inputSummary") Url
                .col-sm-10
                    input#inputSummary.form-control(type="text", name="episodes[url]", value="")
            .form-group
                .col-sm-offset-6.col-sm-9
                    button.btn.btn-success(type="submit") Lưu
