extends ./layout

block content
    .row
        form.form-horizontal(method="post", action="/admin/save_group")
            .form-group
                label.col-sm-2.control-label(for="name") Mã nhóm
                .col-sm-10
                    input#name.form-control(type="text", name="group[id]", value=group.id)
            .form-group
                label.col-sm-2.control-label(for="name") Phân nhóm
                .col-sm-10
                    input#name.form-control(type="text", name="group[name]", value=group.name)

            .form-group
                .col-sm-offset-6.col-sm-9
                    button.btn.btn-success(type="submit") Lưu
