extends ./layout

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th Thể loại phim
                    th Ngày thêm vào
                    th Ngày cập nhật
                    th Sửa
                    th Xoá
            tbody
                each item in categorys
                    tr(class="item-id-" + item._id)
                        td= item.name
                        td= moment(item.meta.createAt).format('YYYY-MM-DD H:mm:ss')
                        td= moment(item.meta.updateAt).format('YYYY-MM-DD H:mm:ss')
                        td
                            a(target="_blank", href="/admin/user_update/" + item._id) Sửa
                        td
                            button.btn.btn-danger.del(type="button", data-id=item._id) Xoá
    script(src="/javascripts/deleteUser.js")
