.panel.panel-default  
  .panel-body.msg_container_base
    .row.msg_container.base_sent
      .col-md-10.col-xs-10
        .messages.msg_sent
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
    .row.msg_container.base_receive
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
      .col-md-10.col-xs-10
        .messages.msg_receive
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
    .row.msg_container.base_receive
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
      .col-xs-10.col-md-10
        .messages.msg_receive
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
    .row.msg_container.base_sent
      .col-xs-10.col-md-10
        .messages.msg_sent
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
    .row.msg_container.base_receive
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
      .col-xs-10.col-md-10
        .messages.msg_receive
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
    .row.msg_container.base_sent
      .col-md-10.col-xs-10
        .messages.msg_sent
          p
            | that mongodb thing looks good, huh?
            | tiny master db, and huge document store
          time(datetime='2009-11-13T20:00') Timothy • 51 min
      .col-md-2.col-xs-2.avatar
        img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
  .panel-footer
    .input-group
      input#btn-input.form-control.input-sm.chat_input(type='text', placeholder='Write your message here...')
      span.input-group-btn
        button#btn-chat.btn.btn-primary.btn-sm Send

  script(src='/javascripts/commend.js')
  link(rel='stylesheet', href='/stylesheets/commend.css')  
  // ---- Include the above in your HEAD tag --------
