extends ./layout

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th Tên tập                                      
                    th Hình Thumnail
                    th Thời gian cập nhật
                    th Link
                    th
                    th                   
            tbody
                each item in episodes
                    tr(class="item-id-" + item._id)                       
                        td= item.name                       
                        td 
                            img(src=item.urlThumnail height=80 width=60)
                        td= moment(item.meta.updateAt).format('DD-MM-YYYY H:mm')
                        td= item.url                       
                        td
                            a(target="_blank", href="/admin/update_episodes/" + item._id) Sửa
                        td
                           a(target="_blank", href="#") Xoá
    script(src="/javascripts/deleteMovie.js")
