extends ./layout

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th Tên tập                                      
                    th Thời gian thêm vào
                    th Thời gian cập nhật
                    th Link
                    th
                    th                   
            tbody
                each item in episodes
                    tr(class="item-id-" + item._id)                       
                        td= item.name                       
                        td= moment(item.meta.createAt).format('DD-MM-YYYY H:mm')
                        td= moment(item.meta.updateAt).format('DD-MM-YYYY H:mm')
                        td                       
                        td
                            a(target="_blank", href="/admin/movie_update/" + item._id) Sửa
                        td
                           a(target="_blank", href="#") Xoá
    script(src="/javascripts/deleteMovie.js")
