extends ./layout

block content
    #homeContent
        include ./includes/slider
        //- each items in groups
        //-     .groupMovieTitle
        //-         label #{"#"+items.name}
        //-     .row
        //-         each item in movies
        //-             if item.group == items.id
        //-                 .col-md-2.col-sm-2
        //-                     a.thumbnail(href="/anime/" + item.titleNon +"/-1")
        //-                         img(src=item.poster, alt=item.title)
        //-                         .caption
        //-                             h6.ellipsis-1= item.title
        //-                             .vn
        //-                                 h6= item.titleVN
    #searchContent
        
                            //- p
                            //-     a.mr-10.btn.btn-primary(href="/detail/" + item._id, role="button") Xem
                            //-     a.btn.btn-default(href="", role="button", disabled) Bộ sưu tập
