#bs-carousel.carousel.fade-carousel.slide.carousel-fade(data-ride='carousel', data-interval='5000')
  // Overlay
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#bs-carousel', data-slide-to='0')
      img(src=" /images/large/1.jpg" alt="...")
    li(data-target='#bs-carousel', data-slide-to='1')
      img(src=" /images/large/2.jpg" alt="...")
    li(data-target='#bs-carousel', data-slide-to='2')
      img(src=" /images/large/3.jpg" alt="...")
    li(data-target='#bs-carousel', data-slide-to='3')
      img(src=" /images/large/3.jpg" alt="...")
      
     

  // Wrapper for slides
  .carousel-inner
    .item.slides.active.carousel-item
      .slide-1
        .overlay
    .item.slides.carousel-item
      .slide-2
        .overlay
    .item.slides.carousel-item
      .slide-3
        .overlay
    .item.slides.carousel-item
      .slide-4
        .overlay         
      